In [10]:
import pandas as pd
import numpy as np

In [11]:
data = pd.read_csv('calon_tni.csv')
tertinggi = np.max(data['tinggi'])
terendah = np.min(data['tinggi'])
medianTinggi = np.median(data['tinggi'])
meanTinggi = np.mean(data['tinggi'])

In [12]:
print("=== Data Calon TNI ===" )
print(data)

=== Data Calon TNI ===
    nama                    alamat  tinggi
0   Andi        Jl. Merdeka No. 10     175
1   Budi        Jl. Sudirman No. 5     178
2  Citra        Jl. Thamrin No. 20     180
3   Dewi  Jl. Gatot Subroto No. 15     180
4    Eka     Jl. Rasuna Said No. 8     183
5  Fajar       Jl. Kuningan No. 12     185
6   Gina          Jl. Cikini No. 3     170
7   Hadi        Jl. Palmerah No. 7     168
8  Indah         Jl. Senayan No. 9     178
9  Jilan        Jl. Kuningan No. 2     160

In [13]:
print("\n=== Statistik Dasar Tinggi Badan ===") 
print(data["tinggi"].describe())
print("\nRata-rata tinggi:", meanTinggi)
print("Tertinggi:", tertinggi)
print("Terendah:", terendah)
print("Median:", medianTinggi)

=== Statistik Dasar Tinggi Badan ===
count     10.000000
mean     175.700000
std        7.645623
min      160.000000
25%      171.250000
50%      178.000000
75%      180.000000
max      185.000000
Name: tinggi, dtype: float64

Rata-rata tinggi: 175.7
Tertinggi: 185
Terendah: 160
Median: 178.0

In [14]:
listTertinggi = data[data['tinggi'] > meanTinggi]

print("=== Calon di atas rata-rata tinggi ===")
print(listTertinggi)

=== Calon di atas rata-rata tinggi ===
    nama                    alamat  tinggi
1   Budi        Jl. Sudirman No. 5     178
2  Citra        Jl. Thamrin No. 20     180
3   Dewi  Jl. Gatot Subroto No. 15     180
4    Eka     Jl. Rasuna Said No. 8     183
5  Fajar       Jl. Kuningan No. 12     185
8  Indah         Jl. Senayan No. 9     178

In [15]:
tertinggiSorted = data.sort_values(by="tinggi", ascending=False)

print("\n=== Urutan Dari tertinggi hingga terendah ===")
print(tertinggiSorted)

=== Urutan Dari tertinggi hingga terendah ===
    nama                    alamat  tinggi
5  Fajar       Jl. Kuningan No. 12     185
4    Eka     Jl. Rasuna Said No. 8     183
3   Dewi  Jl. Gatot Subroto No. 15     180
2  Citra        Jl. Thamrin No. 20     180
8  Indah         Jl. Senayan No. 9     178
1   Budi        Jl. Sudirman No. 5     178
0   Andi        Jl. Merdeka No. 10     175
6   Gina          Jl. Cikini No. 3     170
7   Hadi        Jl. Palmerah No. 7     168
9  Jilan        Jl. Kuningan No. 2     160

In [16]:
listKategori = {
    "nama": [],
    "alamat": [],
    "tinggi": [],
    "kategori": []
}
for index, row in data.iterrows():
    if row["tinggi"] >= 180:
        listKategori["nama"].append(row["nama"])
        listKategori["alamat"].append(row["alamat"])
        listKategori["tinggi"].append(row["tinggi"])
        listKategori["kategori"].append("Tinggi")
    elif row["tinggi"] >= 170:
        listKategori["nama"].append(row["nama"])
        listKategori["alamat"].append(row["alamat"])
        listKategori["tinggi"].append(row["tinggi"])
        listKategori["kategori"].append("Sedang")
    else:
        listKategori["nama"].append(row["nama"])
        listKategori["alamat"].append(row["alamat"])
        listKategori["tinggi"].append(row["tinggi"])
        listKategori["kategori"].append("Pendek")

print("\n=== Kategori Tinggi Badan ===")
print(pd.DataFrame(listKategori))

=== Kategori Tinggi Badan ===
    nama                    alamat  tinggi kategori
0   Andi        Jl. Merdeka No. 10     175   Sedang
1   Budi        Jl. Sudirman No. 5     178   Sedang
2  Citra        Jl. Thamrin No. 20     180   Tinggi
3   Dewi  Jl. Gatot Subroto No. 15     180   Tinggi
4    Eka     Jl. Rasuna Said No. 8     183   Tinggi
5  Fajar       Jl. Kuningan No. 12     185   Tinggi
6   Gina          Jl. Cikini No. 3     170   Sedang
7   Hadi        Jl. Palmerah No. 7     168   Pendek
8  Indah         Jl. Senayan No. 9     178   Sedang
9  Jilan        Jl. Kuningan No. 2     160   Pendek

In [17]:
kategoriCounts = pd.Series(listKategori["kategori"]).value_counts()

print("=== Jumlah calon per kategori ===")
print(kategoriCounts)

=== Jumlah calon per kategori ===
Sedang    4
Tinggi    4
Pendek    2
Name: count, dtype: int64

In [18]:
print